<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge SONDEOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<div id="app" v-cloak>
<!-- Encabezado -->
    <header class="position-relative">
        <a class="position-absolute bottom-0 end-0 sign-out" href="" @click.prevent="signOut">Cerrar sesión</a>
        <h1 id="title">Challenge SONDEOS</h1>
    </header>
<!-- Contenido -->
    <main>
        <div class="row">
            <div class="col-md-4"> <!-- Botón de BACK -->
                <button type="button" class="btn btn-primary back" onclick="history.go(-1)">Volver</button>
            </div>

            <div class="col-md-4" id="registro"> <!-- Formulario de cambio de datos -->
                <form>
                    <div class="mb-3">
                        <label for="title2" class="form-label formulary">Título del libro:</label>
                        <input v-model="data.title" type="text" class="form-control" id="title2" required>
                    </div>
                    <div class="mb-3">
                        <label for="writer" class="form-label formulary">Autor del libro:</label>
                        <input v-model="data.writer" type="text" class="form-control" id="writer" required>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label formulary">Fecha de lanzamiento:</label>
                        <input v-model="data.releaseDate" type="date" class="form-control" id="date" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label formulary">Precio:</label>
                        <div class="input-group">
                            <div class="input-group-text">$</div>
                            <input v-model="data.price" type="number" class="form-control" id="price" required>
                        </div>
                    </div>
                    <div class="form-floating" id="add-book">
                        <a class="btn btn-primary button formulary-add" href="" role="button" @click.prevent="putData">Guardar</a>
                        <a class="btn btn-primary button formulary-add-2" href="" role="button" @click.prevent="deleteBook(listBookID.id)">Eliminar</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
<!-- Pie de página -->
    <footer class="row g-0 align-items-center">
        <p class="col" id="footer-page">&copy; {{momentDateFooter(new Date())}} Misael J. López | Full Stack JAVA Web Developer</p>
    </footer>
</div>
<!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- Frameworks de estilos -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./scripts/manager.js"></script>
</body>
</html>